<div class="col-md-6 offset-md-3">
  <div class="card text-white bg-light mb-3 mt-5">
    <div class="card-header text-center">Web Scraper</div>
    <div class="card-body">
      <h4 class="card-title text-center">Extract almost all links in any website</h4>
      <p class="card-text text-justify">This application will try to extract any link that it finds in the url that you will provide and then email you results when it is done</p>
    </div>
  </div>
  <div class="card text-white bg-light mb-3 mt-5">
    <div class="card-body">
      <%= form_tag do %>
        <div class="form-group">
          <%= label_tag(:email) %>
          <%= text_field_tag(:email, nil, type: 'email', placeholder: 'you@example.com', class: 'form-control') %>
        </div>

        <div class="form-group">
          <%= label_tag(:url) %>
          <%= text_field_tag(:url, nil, placeholder: 'target url', class: 'form-control') %>
        </div>

        <%= submit_tag(:'fetch me all links', class: 'btn btn-primary') %>
      <% end %>
    </div>
  </div>
</div>
